In [1]:
path_to_zip_file = "datasets.zip"
directory_to_extract_to = ""
import zipfile
zip_ref = zipfile.ZipFile(path_to_zip_file, 'r')
zip_ref.extractall(directory_to_extract_to)
zip_ref.close()

In [2]:
import pandas as pd
Location = "datasets/time_series_covid19_deaths_global.csv"
df = pd.read_csv(Location)

In [3]:

df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,4/1/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,1,1,2,4,4,4,4,4,4,4
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,4,5,5,6,8,10,10,11,15,15
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,17,19,21,25,26,29,31,35,44,58
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,1,1,1,3,3,3,6,8,12,14
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,0,0,0,0,0,0,2,2,2,2

In [10]:
%matplotlib inline
import pandas as pd
Location = "datasets/time_series_covid19_deaths_global.csv"
df = pd.read_csv(Location)
plt.plot(x, '4/1/2020')

# set the x and y axis range
plt.ylim(0, 1000000)
plt.axis('tight')

#add title
plt.title('COVID-19 Confirmed and Deaths')

NameError: name 'plt' is not defined